html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  box-sizing: inherit;
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
}

p{
  color: white;
}
*{
  box-sizing: border-box;
}
