@import 'variables';

h3{
  margin: 0;
}

.votescherm{
  display: grid;
  grid-template: 10% auto 5% 25% 15% auto/ 15% auto 15%;
  height: 92vh;

  &__nextButton{
    grid-row-start: 5;
    grid-column-start: 3;
    margin-right: 25px;
  }

  &__progress{
    grid-row-start: 6;
    grid-column-start: 2;
    z-index: 2;
    font-weight: 200;
    display: flex;
    flex-direction: column;
  }
  &__progress .progress{
    margin-top: auto;
    margin-bottom: 10px;
  }


  &__vote{
    display: grid;
    transition: 0.5s;
    grid-template: 20% 1% auto auto / 20% auto 15%;
    background-color: $default-bg-color;
    grid-column-start: 2;
    grid-row-start: 2;
    border-radius: 5px;
    padding: 0;
    border: 1px solid black;
    width: 80%;
    margin-left: 10%;
    font-size: 15px;

    &__titel{
      grid-column-start: 2;
      grid-row-start: 1;
      text-align: center;
      border-bottom: 1px solid white;
      margin-top: 5%;
      padding-bottom: 2%;
      color: white;
    }
    &__trump{
      grid-column-start: 2;
      grid-row-start: 3;
      margin-left: 4%;
    }
    &__clinton{
      grid-column-start: 2;
      grid-row-start: 4;
      margin-left: 4%;
    }

    &__clintonButton{
      grid-column-start: 1;
      grid-row-start: 4;
      background-color: grey;
      width: 80%;
      height: 34%;
      margin-left: 15%;
      margin-top: 36%;
      border: 1px solid black;
      box-shadow: inset 0 0 5px 4px #555;
      transition: 0.5s;
    }
    &__clintonButton:hover{
      opacity: 0.6;
    }

    &__trumpButton{
      grid-column-start: 1;
      grid-row-start: 3;
      background-color: grey;
      width: 80%;
      height: 34%;
      margin-left: 15%;
      margin-top: 36%;
      border: 1px solid black;
      box-shadow: inset 0 0 5px 4px #555;
      transition: 0.5s;
      }
    &__trumpButton:hover{
      opacity: 0.6;
    }
  }


  &__votebox{
    display: grid;
    grid-template: 15% auto / auto;
    z-index: 1;
    grid-column-start: 2;
    grid-row-start: 4;

    &__bovenkant{
      grid-column-start: 1;
      grid-row-start: 1;
      background-color: #FFE68C;
      border: 1px solid black;
    }
    &__onderkant{
      grid-column-start: 1;
      grid-row-start: 2;
      width: 90%;
      background-color: #FFE68C;
      margin-left: 5%;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      border-right: 1px solid black;

      &__tekst{
        background-color: $default-red-color;
        text-align: center;
        margin-left: 25%;
        margin-right: 25%;
        border-radius: 5px;
        margin-top: 20%;
      }
    }
  }
}

@media only screen and (min-width: 750px){
  .votescherm{
    grid-template: 10% auto 5% 25% 5% auto/ 20% auto 20%;

  &__nextButton .body__nextButton .nextButton{
    width: 100%;
    height: 100%;
  }
  &__nextButton .body__nextButton{
  width: 60%;
  height: 85%;
  }

  &__vote__trump{
    margin-top: 9%;
  }
  &__vote__clinton{
    margin-top: 9%;
  }
}
}

@media only screen and (min-width: 1000px){
  .votescherm{
    grid-template: 10% auto 5% 25% 5% auto/ 35% auto 35%;

    &__nextButton .body__nextButton{
      width: 20%;
      height: 85%;
      margin-right: 40%;
    }
  }
}
